<h1>Calculator</h1>
<div>
    <input type="text" #input ([ngModel])="c" >
</div>
<div>
    <table>
        <thead>
            <td >
                C
            </td>
            <td>
                /
            </td>
            <tr><td>7</td>
            <td>8</td>
            <td>9</td>
            <td>*</td></tr>
            <tr><td>4</td>
            <td>5</td>
            <td>6</td>
            <td>-</td></tr>
            <tr><td>1</td>
            <td>2</td>
            <td>3</td>
            <td>+</td></tr>
            <tr>
                <td>0</td>
                <td>.</td>
                <td>=</td>
            </tr>
        </thead>
    </table>
</div>